body {
    background-size: cover;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    background-image: url(https://wallpapers.com/images/featured/fondos-morado-liso-jnypvas45mq50b22.jpg);
    font-family: 'Poppins', sans-serif;
    padding: 20px;
    box-sizing: border-box;
}

h2 {
    color: white;
}

button {
    padding: 15px 30px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background: rgba(224, 103, 254, 0.436);
    color: #FF69B4;
    font-weight: 500;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    margin: 5px 0;
}

#productResult, #pollingInfo {
    background: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 8px;
    margin-top: 10px;
    color: #333;
}

.container {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.section {
    background: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    width: 300px;
    text-align: center;
}
#Operation{
    color: #f0f0f0;
}